$border-color: black;

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5rem;
}

.descBoard {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 20px;
  border: $border-color 1px solid;
  padding: 1.5rem;
}

.time-travel-container {
  display: flex;
  flex-direction: column;
}

.victoryPhrase {
  font-size: 20px;
  color: royalblue;
}

#reset {
  border: 1px solid $border-color;
}

#time-travel-button {
  border: 1px solid $border-color;
  width: 100px;
  margin: 10px 20px;
  height: 30px;
}
